{% extends 'layout.html' %}

{% block body %}
<body>
    <div class='form'>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <br>
            {{ form.name.label }} &emsp;&emsp;&emsp;{{ form.name }} 
            <br>
            {{ form.description.label }} &nbsp;{{ form.description }}   
            <br>
            {{ form.method.label }}&emsp;&emsp;&emsp; {{ form.method }}
            <br>
            {{ form.ings }} {{ form.quants }}
            <br>
            {{ form.submit }} 
        </form>
    </div>
</body>

{% endblock body %}