{% extends 'layout.html' %}

{% block body %}
<br>
<div>
    <h3>&emsp;Recipes added</h3>
    {% for recipe in recipes %}
    <div class='recipes'>
        &emsp;{{ recipe.name }} <a href="{{ url_for('delete_recipe', rec_id=recipe.rec_id) }}">Delete</a>
    </div>
    {% endfor %}
</div>
<br>
<h3>&emsp;Groups Available </h3>

{% for group in groups %}
    <div class='groups'>
        &emsp;{{ group.group_name }}
    </div>
{% endfor %}
<h3>&emsp;Ingredients Available</h3>
{% for ingredient in ingredients %}
    <div class='ingredients'>
        &emsp;{{ ingredient.ing_name }} 
    </div>
{% endfor %}
{% endblock body %}