<!DOCTYPE html>
<html>

    <body>
       <h1>Welcome to the Tipsy Tuesday cocktail recipe app</h1>
        <div class='navbar'>
            <a href="{{ url_for('home') }}">Home</a>&emsp;
            <a href="{{ url_for('add_recipe') }}">Add recipe</a>&emsp;
            <a href="{{ url_for('add_group') }}">Add group</a>&emsp;
            <a href="{{ url_for('add_ingredient') }}">Add ingredient</a>&emsp;
            <a href="{{ url_for('search') }}">Search recipes by name</a>&emsp;
        </div>

        {% block body %}

        {% endblock body %}
    </body>
</html>